.custom-black {
    color: #2B2B2B;
}

.custom-red {
    color: #DE1B1B;
}

.custom-white {
    color: #F6F6F6;
}

.custom-yellow {
    color: #E9E581;
}

.custom-bg-black {
    background-color: #2B2B2B;
}

.custom-bg-red {
    background-color: #DE1B1B;
}

.custom-bg-white {
    background-color: #F6F6F6;
}

.custom-bg-yellow {
    background-color: #E9E581;
}
