.navy {
    color: #354458;
}

.blue {
    color: #3A9AD9;
}

.green {
    color: #29ABA4;
}

.white {
    color: #E9E0D6;
}

.red {
    color: #EB7260;
}

.bg-navy {
    background-color: #354458;
}

.bg-blue {
    background-color: #3A9AD9;
}

.bg-green {
    background-color: #29ABA4;
}

.bg-white {
    background-color: #E9E0D6;
}

.bg-red {
    background-color: #EB7260;
}
