/* ==========================================================================
Author's custom styles
========================================================================== */
h1 {
	font-size: 35px;
}

p {
   font-size: 25px;
}

.bg-info {
	font-size: 15px;
}
