/* ==========================================================================
Author's custom styles
========================================================================== */

.animated-underline {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.animated-underline:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0px;
    width: 100%;
    background: transparent;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5;
}

.animated-underline:hover:after {
    height: 3px;
    background: blue;
}
