/* ==========================================================================
Author's custom styles
========================================================================== */

.normal-text {
	font-size: 20px;
}

.footer-text {
	font-size: 15px;
}

ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.center-div {
	margin: 15% 0;
}

.top-buffer {
	margin-top: 15px;
}
